.navigation {
  width: 100%;
  min-height: 95px;
  background: #f8f7f2;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  width: 100%;
  display: flex;
  flex: 1 0 30%;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navbar ul li {
  margin: 0 10px 0 10px;
}
.navbar ul li a {
  color: #a5a5a5;
  text-decoration: none;
  font-weight: bold;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background: #f0972a;
}

@media screen and (max-width: 768px) {
  .circle {
    display: none;
  }
  .wrapper {
    flex-direction: column;
  }
  .navbar {
    width: 100%;
    flex: 1 0 30%;
    flex-direction: column;
    display: none;
  }
  .navbar ul {
    flex-direction: column;
    display: flex;
  }
  .navbar ul li {
    margin: 7px 7px;
  }
  .btn-group {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .menu {
    font-size: 3rem;
  }
  .wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    width: 100%;
  }
}

.wrapper {
  width: 80%;
  margin: 0px auto;
  max-width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
