$green: #96bb36;
$grey: #636b72;

/*# Default button styles */
.btt {
  padding: 10px 30px;
  touch-action: manipulation;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 5px;
}
.green-btn {
  background: $green;
  box-shadow: 0px 3px 6px #00000029;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}
.outline-grey {
  background: none;
  border: 1px solid #a5a5a5;
  text-decoration: none;
  color: $grey;
  font-weight: 500;
}
.sl-btn {
  background: $green;
  padding: 4px 7px;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}
.pill {
  background-color: $green;
  border: none;
  color: #ffffff;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.pill-bs {
  background-color: $green;
  border: none;
  color: #ffffff;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
}
.br {
  border: 1px solid;
}
