.ml {
  margin: 0 15px 0 15px;
}
.orange {
  color: $orange;
}
.mr-8 {
  margin-right: 8px;
}
.ml-20 {
  margin-left: 20px;
}
.f14 {
  font-size: 14px;
}
.p20 {
  padding: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-7 {
  margin-top: 7px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mt-50 {
  margin-top: 50px;
}
.line-header {
  height: 1px;
  min-width: calc(100% - 220px);
  background: $light-grey;
  margin-top: 35px;
  float: right;
}
.line-header-p {
  height: 1px;
  min-width: calc(100% - 300px);
  background: $light-grey;
  margin-top: 35px;
  float: right;
}
.line-header-g {
  height: 1px;
  min-width: calc(100% - 190px);
  background: $light-grey;
  margin-top: 35px;
  float: right;
}
.mtb-50 {
  margin: 50px 0;
}
.orange {
  color: $orange;
}
.grey {
  color: $darkgrey;
}
.h2 {
  font-size: 46px;
}
.pst {
  line-height: 1.6;
  color: $grey;
  font-size: 20px;
  width: 90%;
}
.p20 {
  padding: 20px;
}
