@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

.fa-angle-double-right {
  font-size: 24px;
}
.fa-trash-alt {
  font-size: 1.3rem;
  color: $darkgrey;
  cursor: pointer;
}
